<div class="pure-g">

  <div class="pure-u-1-2">
    <!-- display header  -->
    <div *ngIf="selectedItem">
      <h2>{{ selectedItem.name }} </h2>
    </div>

    <!-- display -->
    <div>
      <img src="https://placekitten.com/g/400/300">
      <p>{{ selectedItem.description }}</p>
    </div>

  </div>

  <div class="pure-u-1-2">
    <!-- Shopping header -->
    <div>
      <ul class="gallery-nav">
        <button>Consumables</button>
        <button>Equipment</button>
        <button>Costumes</button>
      </ul>
    </div>

    <!-- Shopping grid -->
    <div class="pure-g" style="border: 1px solid black; height: 320px" >
      <div class="pure-u-1-5" *ngFor="let item of items" (click)="onSelect(item)">
        <p>{{ item.name }}</p>
        <p>{{ item.price }}</p>
        <p>{{ item.category }}</p>
      </div>
    </div>

    <div>
      <button>left</button>
      <button>right</button>
    </div>

  </div>

</div>

<!-- *********************************** -->
<div>
  <button (click)="testClick()" >click</button>
</div>
<div>
  <a [routerLink]="['/add-item']">Add Item</a>
</div>
